{% extends 'base.html' %}

{% block content %}

{% block header %}
  {% include 'home/header.html' %}
{% endblock header %}


{% block clients %}
  {% include 'home/clients.html' %}
{% endblock clients %}

{% block aboutus %}
  {% include 'home/aboutus.html' %}
{% endblock aboutus %}

{% block skills %}
  {% include 'home/skills.html' %}
{% endblock skills %}

{% block services %}
  {% include 'home/services.html' %}
{% endblock services %}

{% block cta %}
  {% include 'home/cta.html' %}
{% endblock cta %}


{% block team %}
  {% include 'home/team.html' %}
{% endblock team %}

{% block Pricing %}
  {% include 'home/Pricing.html' %}
{% endblock Pricing %}

{% block questions %}
  {% include 'home/questions.html' %}
{% endblock questions %}

{% block contact %}
  {% include 'home/contact.html' %}
{% endblock contact %}
   

{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}    

{% endblock content %}
  
